*{
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(239, 238, 238);
    font-family: sans-serif, Arial, Helvetica;
}

html{
    scroll-behavior: smooth;
}

/* body::-webkit-scrollbar{
    display: none;
} */

.checkbtn{
    font-size: 30px;
    margin-top: 6px;
    margin-right: 25px;
    cursor: pointer; 
    display: none;   
}

#check{
    display: none;

}

#header{
    height: 60px;
    background-color: rgb(91, 222, 215);
    padding-top: 30px;
    padding-bottom: 13px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.ub{
    height: 40px;
    width: auto;
    border: 1px solid rgb(91, 222, 215);
    border-radius: 50%;
    vertical-align: middle;
}

.header-left{
    display: flex;
    margin-left: 50px;
}

.title{
    padding-top: 4px;
    font-size: 30px;
    padding-left: 7px;
    color: white;
}

.header-right{
    display: flex;
    margin-right: 16px;
}

.header-right-list a{
    display: flex;
    /* vertical-align: middle; */
    text-decoration: none;
    
}

a .active{
    color: gold;
    font-size: 25px;
}

.cathy{
    color: white;
    font-size: 22px;
    padding-top: 5px;
}

.home{
    height: 31px;
}

i{
    color: white;
    /* margin-top: 10px; */
    margin-right: 5px;
}

.grumpii1{
    margin-right: 34px;
}

.welcome-img{
    height: 550px;
    width: 580px;
    /* margin: 14px; */
}

marquee{
    font-size: 30px;
    font-weight: 600;
    color: gold;  
    padding-top: 25px; 
    z-index: -1; 
    /* position: relative; */
}

.welcome-content{
    height: 400px;
    width: 330px;
    padding: 30px;
    background: white;
    margin-top: 50px;
    margin-right: 12px;
    box-shadow: 1px 5px 8px lightgray;
    border: 1px solid rgb(239, 238, 238);
}

.SAMS{
    color: blue;
}

#welcome{
    display: flex;
    justify-content: space-between;
    /* margin-top: 15px; */
    

}

.welcome-content-p{
    margin-top: 20px;
    line-height: 2;
}

.signin{
    height: 50px;
    width: 100px;
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid rgb(235, 235, 155);
    background: rgb(235, 235, 155);
    /* opacity: 0.8; */
    /* font-weight: 600; */
    /* text-align: center; */
    margin-left: 120px;
    margin-top: 12px;
}

.signin:hover{
    cursor: pointer;
    opacity: 0.8;
}

#about{
    margin: 200px 150px;
    text-align: center;
    height: 390px;
    width: auto;
    background: snow;
    padding: 70px;
    line-height: 2.5;
    box-shadow: 6px 12px 20px lightgray;
}

.craze{
    background: rgb(250, 230, 222);
    font-size: 35px;
    color: salmon;
    padding: 5px;
}

.church{
    margin-left: 20px;
}

#contact{
    background: rgb(248, 219, 198);
    /* margin: 10px; */
    /* margin-bottom: 500px; */
    height: 680px;
    line-height: 2;

}

.us{
    font-size: 35px;
    color: lightseagreen;
    padding-top: 80px;
    text-align: center;
}

.Contact-us{
    margin-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.joy{
    height: 26px;
    width: 200px;
    padding: 5px 14px;
    margin-bottom: 15px;
    border: 1px solid chocolate ;
    background: rgb(250, 245, 240);
}

input:focus{
    border: 1px solid blue;
    
}

.first{
    font-size: 18px;

}

.eru{
    margin-left: 20px;
}

.fufu{
    margin-left: 55px;
}

.yam{
    margin-left: 56px;
}

.ndole{
    margin-left: 15px;
}

.corn{
    margin-left: 22px;
}

.stew{
    margin-left: 98px;
}

.beans{
    margin-left: 38px;
}

.coco{
    margin-right: 50px;
    margin-left: 10px;
}

.meat{
    margin-left: 124px;
}

.canda{
    margin-left: 88px;
}

.fish{
   margin-left: 140px; 
}

.mimi{
    padding: 8px 18px;
    margin-bottom: 15px;
    border: 1px solid chocolate ;
    background: rgb(250, 245, 240);
    font-size: 15px;
}

.submit{
    height: 46px;
    width: 100px;
    font-size: 19px;
    background: rgb(170, 242, 97);
    color: chocolate;
    border-radius: 4px;
    margin-left: 470px;
    margin-top: 20px;
    border: 1px solid rgb(170, 242, 97);
    box-shadow: 1px 1px 1px lightgrey;
}

.submit:hover{
    cursor: pointer;
    opacity: 0.8;
}

.odette,
.iye{
    height: 40px;
    width: 230px;
    padding: 5px 14px;
    margin-bottom: 15px;
    border: 1px solid chocolate ;
    background: rgb(250, 245, 240);
    /* margin-left: 88px; */
}

.odette{
    margin-left: 88px;
}

.iye{
    margin-left: 125px;
}

input:focus,
textarea:focus,
select:focus{ 
    outline: none !important;
    border-color: olivedrab;
 }


 #footer{
    margin: 50px 250px;
    line-height: 2;
 }

 .footer-links{
    display: flex;
    justify-content: space-evenly;
 }

 .footer-links a{
    text-decoration: none;
    color: indigo;
    cursor: pointer;
 }

 .footer-brand{
    text-align: center;
    padding-top: 10px;
    letter-spacing: 2px;
 }

 .footer-links a:hover{
    opacity: 0.8;
 }



 /* RESPONSIVENESS */
 
/* RESPONSIVENESS */
@media screen and (max-width: 600px) and (min-width: 10px) {
   
    .title{
        /* color: red; */
        font-size: 40px;
    }

    #header{
        display: flex;
        /* flex-direction: column; */
        height: 100px;
    }

    .header-left{
        letter-spacing: 10px;
        margin-left: 40px;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .ub{
        margin-right: 14px;
        margin-top: 8px;
        border-radius: 50%;
    }

    .checkbtn{
        display: block;
        padding-top: 15px;
        margin-right: 50px;
    }

    .header-right{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 130px;
        /* left: 0px; */
        line-height: 2;
        background: #87a4c2;
        width: 293px;
        padding-left: 190px; 
        height: 400px;  
        padding-top: 80px; 
        left: 0%;
        transition: all 0.5s;
            
    }

    .cathy{
        letter-spacing: 2px;
        padding-bottom: 7px;
    }

    .main{
        padding-top: 14px;
        padding-right: 3px;
    }

    .fa-person{
        padding-top: 10px;
        padding-right: 4px;
    }

    .call{
        padding-top: 1px;
        height: 37px;
        padding-right: 3px;
        margin-left: -10px;
    }

    .fa-user{
        padding-right: 5px;
        padding-top: 6px;
        margin-left: -10px;

    }

    .grumpii1{
        margin-bottom: 40px;
    }

    .grumpii1:hover{
        opacity: 0.8;
    }

    .cathy:hover{
        color: lightsalmon;
    }


    #check:checked ~ .header-right{
        left: 0;
    }   

}

@media screen and (min-width:601px) and (max-width: 768px) {    
    
  
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .title{
        color: white;
    }

    #header{
        padding-left: -10px;
    }

    .cathy{
        font-size: 20px;
    }

    .header-right{
        margin-left: 60px;
    }

    .active{
        font-size: 20px;
    }

    .home{
        height: 25px;
        padding-top: 6px;
    }

    .fa-person{
        height: 20px;
    }

}